div{
    background-color: aqua;
}
.status{
    font-weight: bold;
    display: flex;
}
#Defend{
    color: blue;
}
#Attack{
    color: red;
}
#Speed{
    color: rgb(85, 38, 38);
}
meter{
    border-radius: 2px solid #333; 
    padding: 0.2px; 
}